*{
    box-sizing: border-box;
}
nav{
    border: 2px solid saddlebrown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
nav a{
    margin-right: 30px;
}
nav h2{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}